$font-color: #515151;
$icons-color: #464646;
$dark-title-color: #131313;
$white-title-color: #FFFFFF;
$gray-color: #E2E3E5;
$dark-gray-color: #AAA9A9;
$green-color: #97BE11;
$yellow-color: #FFB400;
$blue-color: #96BF01;
