$font-color: #515151;
$icons-color: #464646;
$dark-title-color: #131313;
$white-title-color: #fff;
$gray-color: #e2e3e5;
$dark-gray-color: #aaa9a9;
$green-color: #97be11;
$yellow-color: #ffb400;
$blue-color: #96bf01;
